---
layout: page
---
{% for item in site.pages %}
  {% if item.title == 'Current Projects' %}
    {% assign currentProjects = item.projects %}
  {% endif %}
{% endfor %}

<div class="post">
  <article>
    <table class="table-borderless">
      <thead>
        <tr>
          <th style="text-align: left; width: 75%;">Topics</th>
          <th style="text-align: left; width: 25%;">Project Context</th>
        </tr>
      </thead>
      {% for theme in page.themes %}
        <tr>
          <td>
            <div style="text-align: left;">
              {{ theme.desc | prepend: '**' | append: '**' | markdownify }}
            </div>
          </td>
          <td>
            {% if theme.logo %}
              {% assign project_image_path = theme.logo | prepend: 'assets/img/' %}
              {% assign project_image_class = 'img-fluid' %}
              {% capture sizes %}(min-width: 100px) 30vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=project_image_path class=project_image_class sizes=sizes alt=theme.logo %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </article>
</div>

{% if page.content %}
  <div class="clearfix">
    {{ page.content | markdownify }}
  </div>
{% endif %}
